{% include "base/navbar.html" %}
{% load crispy_forms_tags %}

<section id="contentbody">
    <div class="container-fluid">
      <div class="row">
        <div class=" col-md-6 col-md-offset-3">
            <h1>CREATE A NEW POST</h1>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form|crispy}}
                {{ form.media }}
                <input type="submit" value="Create">
            </form>
        </div>

      </div>
    </div>
  </section>

{% include 'base/footer.html' %}

