{%  load static %}

<div class="single_blog_sidebar wow fadeInUp">
    <h2>Popular Posts</h2>
    <ul class="middlebar_nav wow">
      <li> <a href="#" class="mbar_thubnail"><img alt="" src="{% static 'images/hot_img1.jpg' %}"></a> <a href="#" class="mbar_title">Sed luctus semper odio aliquam rhoncus</a> </li>
      <li> <a href="#" class="mbar_thubnail"><img alt="" src="{% static 'images/hot_img1.jpg' %}"></a> <a href="#" class="mbar_title">Sed luctus semper odio aliquam rhoncus</a> </li>
    </ul>
  </div>