{% include "base/navbar.html" %}



<section id="contentbody">
  <div class="container">
    <div class="row">

      <!-- left side -->
      <!-- -------------------------------------------------------------------------------- -->
      {% include "base/leftside/leftside.html" %}
      <!-- -------------------------------------------------------------------------------- -->

      <!-- middle side -->
      <!-- -------------------------------------------------------------------------------- -->
      {% include "base/middleside/middleside.html" %}}
      <!-- -------------------------------------------------------------------------------- -->

      <!-- right side -->
      <!-- -------------------------------------------------------------------------------- -->
      {% include "base/rightside/rightside.html" %}}
      <!-- -------------------------------------------------------------------------------- -->

    </div>
  </div>
</section>


{% include 'base/footer.html' %}