{% extends "./base.html" %}

{% block content %}

<section id="contentbody">
  <div class="container">
    <div class="row">


      <!-- left side -->
      <!-- -------------------------------------------------------------------------------- -->
      <div class=" col-sm-12 col-md-6 col-lg-6">
        <div class="row">
          <div class="leftbar_content">
            
            <!-- Title -->
            <h2>The New Stuff</h2>
    
            <!-- Posts -->
            {% include 'base/leftside/postflow.html' %}
    
          </div>
        </div>
      </div>


      <!-- middle side -->
      <!-- -------------------------------------------------------------------------------- -->
      <div class="col-sm-6 col-md-2 col-lg-2">
        <div class="row">
          <div class="middlebar_content">
    
            <!-- Title -->
            <h2 class="yellow_bg">What's Hot</h2>
    
            <!-- What is Hot -->
            {% include "base/middleside/hotposts.html" %}
    
            <!-- Popular Categories -->
            {% include "base/middleside/popularcategories.html" %}
          
    
          </div>
        </div>
      </div>



      <!-- right side -->
      <!-- -------------------------------------------------------------------------------- -->
      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="row">
          <div class="rightbar_content">
    
            <!-- Featured stuff -->
            {% include "base/rightside/featuredposts.html" %}
    
            <!-- Popular Posts -->
            {% include "base/rightside/popularposts.html" %}
    
            <!-- Popular Tags -->
            {% include "base/rightside/populartags.html" %}
    
          </div>
        </div>
      </div>
      

    </div>
  </div>
</section>


{% endblock %}



